.about-us-container {
  padding: 50px;
  background-color: black;
}

.text-col {
  padding-right: 20px;
}

.image-col {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-placeholder {
  width: 100%;
  max-width: 400px;
  height: auto;
  background-color: #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-placeholder img {
  max-width: 100%;
  height: auto;

}

.buttons {
  margin-top: 20px;
}