.info-section {
  text-align: center;
  padding: 40px 20px;
  max-width: 800px;
  margin: 0 auto;
  background-color: black;
}

.info-subtitle {
  font-size: 16px;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.info-title {
  font-size: 36px;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 20px;
  line-height: 1.2;
}

.info-description {
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 20px;
}