.image-overlay-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%; /* Adjust width as needed */
  margin: 0 auto;
}

.overlay-text {
  position: absolute;
  top: 50%;
  right: 0;
  font-style: bold;
  transform: translateY(0 -50%);
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  color: white;
  padding: 10px;
  border-radius: 0px;
}

.ant-card-cover img {
  width: 100%;
  height: auto;
}
.ant-card-body {
    border: none;
}