.ant-card-hoverable:hover {
  filter: drop-shadow(0 0 1em #f6f6f7);
}

/* infosection.css */
.infosection {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 30px;
  width: 100%; /* Add semicolon */
  margin-bottom: 24px;
}

.infosection-row {
  margin: 0;
  height: auto; /* Make it responsive */
}

.infosection-col-left,
.infosection-col-right {
  padding: 0 20px;
}

.infosection-img {
  max-width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Responsive */
@media (max-width: 768px) {
  .infosection {
    width: 70%;
    height: auto;
    /* padding: 16px; */
    
  }
}
