.othersolutions-title {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 40px,

}

.othersolutions {

}

.ant-row {
    display: flex;
    justify-content: center;
    margin-left: -8px -8px
}